

<div id="page"><!-- - - - - - - - - - SECTION - - - - - - - - - -->



<%= render "shared/home_slider" %>

<div class="pi-section-w pi-section-parallax piCounter piTabs piTooltips">
  <div style="background: rgba(24, 28, 32, 0.8)" class="pi-texture"></div>
  <div class="pi-section pi-padding-top-60 pi-padding-bottom-40">
    <p class="lead-24 pi-weight-300 pi-text-center">Your managed <span class="pi-text-base">OpenStack</span> cloud solution. <br>Avoid <span class="pi-text-base">vendor lock-in</span> with Helios Technologies.</a>
    </p>
  </div>
</div>


<!-- - - - - - - - - - SECTION - - - - - - - - - -->
<div class="pi-section-w pi-section-white">
  <div class="pi-section pi-padding-bottom-20">

    <div class="pi-text-center pi-padding-bottom-20">
      <h3 class="pi-weight-700 pi-uppercase pi-letter-spacing pi-has-border pi-has-tall-border pi-has-short-border">
        What We Offer
      </h3>
    </div>

    <!-- Row -->
    <div class="pi-row">

      <!-- Col 6 -->
      <div class="pi-col-xs-12 pi-col-sm-6 pi-col-lg-6 pi-padding-bottom-20">

        <div class="pi-box pi-border pi-round pi-border-top">

          <div class="pi-icon-box-vertical pi-text-center">

            <div class="pi-icon-box-icon pi-icon-box-icon-base">
              <i class="icon-cog"></i>
            </div>
            <div class="pi-icon-box-content-2">
             <h4>
              <%= link_to "Enterprise cloud hosting", cloud_hosting_path, class: "pi-link-dark" %>
            </h4>
            <p class="pi-margin-bottom-10">
              Build your app, we’ll take care of the rest.
            </p>
            <p>
              <%= link_to "More info", cloud_hosting_path, class: "icon-right-open-mini pi-icon-right"%>
            </p>
          </div>

        </div>
      </div>

      </div>
      <!-- End col 6 -->

      <!-- Col 6 -->
      <div class="pi-col-xs-12 pi-col-sm-6 pi-col-lg-6 pi-padding-bottom-20">

        <div class="pi-box pi-border pi-round pi-border-top">
          <div class="pi-icon-box-vertical pi-text-center">

            <div class="pi-icon-box-icon pi-icon-box-icon-base">
              <i class="icon-lamp"></i>
            </div>

            <div class="pi-icon-box-content-2">
              <h4>
                <%= link_to "DevOps consulting services", consulting_path, class: "pi-link-dark" %>
              </h4>
              <p class="pi-margin-bottom-10">
                Release Reliable Software Faster
              </p>
              <p>
                <%= link_to "More info", consulting_path, class: "icon-right-open-mini pi-icon-right"%>
              </p>
            </div>
          </div>
        </div>

      </div>
      <!-- End col 6 -->

    </div>
    <!-- End row -->

    <hr>

    <div class="pi-text-center pi-padding-bottom-20">
      <h3 class="pi-weight-700 pi-uppercase pi-letter-spacing pi-has-border pi-has-tall-border pi-has-short-border">
        What we master
      </h3>
    </div>


    <!-- Row -->
    <div class="pi-row">

      <%= render "shared/logos_slider" %>

    </div>
    <!-- End row -->

  </div>
</div>
<!-- - - - - - - - - - END SECTION - - - - - - - - - -->


<!-- - - - - - - - - - SECTION - - - - - - - - - -->

<div class="pi-section-w pi-shadow-inside-top pi-section-base">
  <div class="pi-section">

    <div class="pi-text-center pi-padding-bottom-20">
      <h3 class="pi-weight-700 pi-uppercase pi-letter-spacing pi-has-border pi-has-tall-border pi-has-short-border">
        We do DevOps for Enterprise:
      </h3>
    </div>

    <iframe width="100%" height="510" src="https://www.youtube.com/embed/ezDq8a3zuZM?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>

  </div>
</div>

<!-- - - - - - - - - - END SECTION - - - - - - - - - -->

<!-- - - - - - - - - - SECTION - - - - - - - - - -->

<div class="pi-section-w pi-section-parallax pi-slider-enabled" style="background-image: url(<%= image_url "slider/home/server-room.jpg" %>);">
  <div class="pi-texture" style="background: rgba(30, 35, 41, 0.9);"></div>
  <div class="pi-section">

    <!-- Slider -->
    <div class="pi-slider-wrapper pi-slider-arrows-inside pi-slider-show-arrow-hover pi-text-center">
      <div class="pi-slider pi-slider-animate-opacity">

        <!-- Row -->
        <div class="pi-row">

          <!-- Col 8 -->
          <div class="pi-col-sm-8 pi-col-sm-offset-2">

            <!-- Slide -->
            <div class="pi-slide">
              <div class="pi-img-w pi-img-round">
                <%= image_tag "louis.jpg", style: "width: 80px;" %>
              </div>
              <p class="lead-30 pi-margin-bottom-20">
              There are only two hard things in Computer Science: cache invalidation and naming things.<br />
                <i>Phil Karlton</i>
              </p>
              <p class="pi-text-base">
                <i class="icon-star">
                </i>
                <i class="icon-star">
                </i>
                <i class="icon-star">
                </i>
              </p>
              <p class="lead-16 pi-weight-700 pi-text-white pi-uppercase pi-letter-spacing pi-margin-bottom-5">
                Louis Bellet
              </p>
              <p class="pi-italic">
                System Architect <a href="#">Helios Technologies SAS</a>
              </p>
            </div>
            <!-- End slide -->

            <!-- Slide -->
            <div class="pi-slide">
              <div class="pi-img-w pi-img-round">
                <%= image_tag "camille.jpg", style: "width: 80px;" %>
              </div>
              <p class="lead-30 pi-margin-bottom-20">
                Choisissez un travail que vous aimez et vous n'aurez pas à travailler un seul jour de votre vie.
              </p>
              <p class="pi-text-base">
                <i class="icon-star">
                </i>
                <i class="icon-star">
                </i>
                <i class="icon-star">
                </i>
              </p>
              <p class="lead-16 pi-weight-700 pi-text-white pi-uppercase pi-letter-spacing pi-margin-bottom-5">
                Camille Meulien
              </p>
              <p class="pi-italic">
                Associate Director <a href="#">Helios Technologies SAS</a>
              </p>
            </div>
            <!-- End slide -->

            <!-- Slide -->
            <div class="pi-slide">
              <div class="pi-img-w pi-img-round">
                <%= image_tag "devinci.jpg", style: "width: 80px;" %>
              </div>
              <p class="lead-30 pi-margin-bottom-20">
                Tout obstacle renforce la détermination. Celui qui s'est fixé un but n'en change pas.
              </p>
              <p class="pi-text-base">
                <i class="icon-star">
                </i>
                <i class="icon-star">
                </i>
                <i class="icon-star">
                </i>
              </p>
              <p class="lead-16 pi-weight-700 pi-text-white pi-uppercase pi-letter-spacing pi-margin-bottom-5">
                Leonard De Vinci
              </p>
              <p class="pi-italic">
                Executive Director <a href="#">Helios Technologies SAS</a>
              </p>
            </div>
            <!-- End slide -->

          </div>
          <!-- End col 8 -->

        </div>
        <!-- End row -->

      </div>
    </div>
    <!-- End slider -->

  </div>
</div>

<!-- - - - - - - - - - END SECTION - - - - - - - - - -->


</div>


<!-- - - - - - - - - - SECTION - - - - - - - - - -->

<div class="pi-section-w pi-section-grey">
  <div class="pi-section pi-padding-bottom-30">

    <!-- Row -->
    <div class="pi-row pi-grid-small-margins pi-text-center">

      <div class="pi-text-center pi-padding-bottom-20">
        <h3 class="pi-weight-700 pi-uppercase pi-letter-spacing pi-has-border pi-has-tall-border pi-has-short-border">
          About OpenStack
        </h3>
      </div>

      <!-- Col 3 -->
      <div class="pi-col-sm-3 pi-col-2xs-6 pi-padding-bottom-20">
        <div class="pi-counter pi-counter-simple" data-count-from="0" data-count-to="2" data-easing="easeInCirc" data-duration="1000" data-frames-per-second="0">
          <div class="pi-counter-count pi-counter-count-big pi-weight-300">

            <p>
              <i class="icon-file-code pi-icon pi-icon-big pi-text-base"></i>
            </p>

            <span class="pi-counter-number">2</span>M

          </div>
          <p>Lines of code</p>
        </div>
      </div>
      <!-- End col 3 -->

      <!-- Col 3 -->
      <div class="pi-col-sm-3 pi-col-2xs-6 pi-padding-bottom-20">
        <div class="pi-counter pi-counter-simple" data-count-from="0" data-count-to="100" data-easing="easeInCirc" data-duration="2000" data-frames-per-second="10">
          <div class="pi-counter-count pi-counter-count-big pi-weight-300">

            <p>
              <i class="icon-check-1 pi-icon pi-icon-big pi-text-base"></i>
            </p>

            <span class="pi-counter-number">100</span>K

          </div>
          <p>Code reviews milestone</p>
        </div>
      </div>
      <!-- End col 3 -->

      <!-- Col 3 -->
      <div class="pi-col-sm-3 pi-col-2xs-6 pi-padding-bottom-20">
        <div class="pi-counter pi-counter-simple" data-count-from="0" data-count-to="30" data-easing="easeInCirc" data-duration="3000" data-frames-per-second="10">
          <div class="pi-counter-count pi-counter-count-big pi-weight-300">

            <p>
              <i class="icon-money pi-icon pi-icon-big pi-text-base"></i>
            </p>

            <span class="pi-counter-number">30</span>%

          </div>
          <p>Cheaper than using a pure public cloud</p>
        </div>
      </div>
      <!-- End col 3 -->

      <!-- Col 3 -->
      <div class="pi-col-sm-3 pi-col-2xs-6 pi-padding-bottom-20">
        <div class="pi-counter pi-counter-simple" data-count-from="0" data-count-to="17" data-easing="easeInCirc" data-duration="4000" data-frames-per-second="10">
          <div class="pi-counter-count pi-counter-count-big pi-weight-300">

            <p>
              <i class="icon-group pi-icon pi-icon-big pi-text-base"></i>
            </p>

            <span class="pi-counter-number">17</span>k

          </div>
          <p>Community members</p>
        </div>
      </div>
      <!-- End col 3 -->

    </div>
    <!-- End row -->

  </div>
</div>

<!-- - - - - - - - - - END SECTION - - - - - - - - - --></div>

