<div class="pi-section-w pi-section-base">
  <div style="padding: 30px 40px 26px" class="pi-section">
    <div class="pi-row">
      <div class="pi-col-sm-5 pi-center-text-xs">
        <h1 class="h2 pi-weight-300 pi-margin-bottom-5">DevOps Consulting</h1>
      </div>
      <div class="pi-col-sm-7 pi-text-right pi-center-text-xs">
        <p class="lead-20 pi-weight-300 pi-margin-top-5 pi-margin-bottom-5">
          We Help Transform IT Complexity into Strategic Advantage
        </p>
      </div>
    </div>
  </div>
</div>


<div class="pi-section-w pi-section-white">
  <div class="pi-section pi-padding-bottom-30">

    <div class="pi-row">

      <div class="pi-col-sm-7">

        <p class="lead-30 pi-text-dark pi-padding-bottom-10">
          Release Reliable Software Faster
        </p>

        <div class="pi-row">
          <div class="pi-icon-box pi-icon-box-hover pi-icon-box-icon-big">
            <div class="pi-icon-box-icon pi-icon-box-icon-dark">
              <i class="icon-list"></i>
            </div>
            <div class="pi-icon-box-content-2">
              <h4>Assess</h4>
              <p>Together, we identify critical issues, then scope and prioritize the changes required.</p>
            </div>
          </div>
        </div>

        <hr class="pi-divider pi-divider-dashed">

        <div class="pi-row">
          <div class="pi-icon-box pi-icon-box-hover pi-icon-box-icon-big">
            <div class="pi-icon-box-icon pi-icon-box-icon-dark">
              <i class="icon-pencil"></i>
            </div>
            <div class="pi-icon-box-content-2">
              <h4>Design</h4>
              <p>We create a roadmap that addresses short, medium and long-term priorities for implementing the highest-value change opportunities that were identified during the Assess phase.</p>
            </div>
          </div>
        </div>

        <hr class="pi-divider pi-divider-dashed">

        <div class="pi-row">
          <div class="pi-icon-box pi-icon-box-hover pi-icon-box-icon-big">
            <div class="pi-icon-box-icon pi-icon-box-icon-dark">
              <i class="icon-download"></i>
            </div>
            <div class="pi-icon-box-content-2">
              <h4>Implement</h4>
              <p>We focus on transferring best-practice knowledge rapidly and effectively to your team to help ensure quality and long-term success.</p>
            </div>
          </div>
        </div>

        <hr class="pi-divider pi-divider-dashed">

        <div class="pi-row">
          <div class="pi-icon-box pi-icon-box-hover pi-icon-box-icon-big">
            <div class="pi-icon-box-icon pi-icon-box-icon-dark">
              <i class="icon-check"></i>
            </div>
            <div class="pi-icon-box-content-2">
              <h4>Manage</h4>
              <p> Once you have begun implementing DevOps changes, we help you maintain momentum and manage the process however it is needed – project managers, mentors, training plans and resources centers are just a few of our capabilities.</p>
            </div>
          </div>
        </div>
      </div>

      <div class="pi-col-sm-4 pi-col-sm-offset-1">
        <p class="lead-30 pi-text-dark pi-padding-bottom-10">
          Technologies
        </p>
        <%= image_tag "logos/docker.png", class: "pi-padding-bottom-60" %>
        <%= image_tag "logos/vagrant.png", class: "pi-padding-bottom-60" %>
        <%= image_tag "logos/chef.png", class: "pi-padding-bottom-60" %>
        <%= image_tag "logos/ansible.png", class: "pi-padding-bottom-60" %>
      </div>

    </div> <!-- /row -->


  </div>
</div>

<div class="clear"></div>

<%= render "shared/request_a_quote_footer" %>