
<div class="tp-banner-container">
   <div class="tp-banner pi-revolution-slider">
      <ul class="">

      <!-- SLIDE -->
      <li data-transition="fade" data-slotamount="1" data-masterspeed="1000" >

      <!-- MAIN IMAGE -->
      <%= image_tag "slider/home/white-datacenter-light.jpg", data: { bgfit: "cover", bgposition: "center", bgrepeat: "no-repeat" } %>

      <!-- LAYERS -->

      <!-- LAYER NR. 1 -->

      <!-- LAYER NR. 2 -->
      <div class="tp-caption sfr fadeout"
         data-x="730"
         data-y="75"
         data-speed="680"
         data-start="1400"
         data-easing="Power4.easeOut"
         data-endspeed="300"
         data-endeasing="Power1.easeIn"
         data-captionhidden="on"
         style="z-index: 4">
         <%= image_tag "slider/home/servers1.png" %>
      </div>

      <!-- LAYER NR. 2 -->
      <div class="tp-caption sfr fadeout"
         data-x="520"
         data-y="120"
         data-speed="400"
         data-start="2200"
         data-easing="Power4.easeOut"
         data-endspeed="300"
         data-endeasing="Back.easeInOut"
         data-captionhidden="on"
         style="z-index: 4">o
         <%= image_tag "slider/home/arrow.png" %>
      </div>


      <!-- LAYER NR. 2 -->
      <div class="tp-caption sfr fadeout"
         data-x="490"
         data-y="195"
         data-speed="400"
         data-start="1900"
         data-easing="Power4.easeOut"
         data-endspeed="300"
         data-endeasing="Power1.easeIn"
         data-captionhidden="on"
         style="z-index: 4">
         <%= image_tag "slider/home/devstack.png" %>
      </div>



      <!-- LAYER NR. 3 -->
      <div class="tp-caption sft str"
         data-x="15" data-hoffset="0"
         data-y="100"
         data-speed="500"
         data-start="2400"
         data-easing="Back.easeInOut"
         data-endspeed="300"
         style="z-index: 5; font-size: 34px; color: #21252b; font-weight: 600; letter-spacing: 1px; text-transform: uppercase; line-height: 40px; background: rgba(255, 255, 255, 0.9); padding: 12px 16px; border-radius: 3px; box-shadow: 0 1px 1px rgba(0,0,0,0.15);">
         Improve time to market
      </div>

      <!-- LAYER NR. 4 -->
      <div class="tp-caption sfl str"
         data-x="15" data-hoffset="0"
         data-y="180"
         data-speed="500"
         data-start="2600"
         data-easing="Back.easeInOut"
         data-endspeed="300"
         style="z-index: 6; font-size: 20px; color: #fff; font-weight: 300; line-height: 28px; background: rgba(33, 37, 43, 0.8); padding: 12px 16px; border-radius: 3px;">
         With continuous integration for mainframe
      </div>

      </li>

      <!-- SLIDE  -->
      <li data-transition="fade" data-slotamount="1" data-masterspeed="1000" >
      <!-- MAIN IMAGE -->
      <%= image_tag "slider/home/server-room.jpg", data: { bgfit: "cover", bgposition: "center bottom", bgrepeat: "no-repeat" } %>

      <!-- LAYERS -->

      <!-- LAYER NR. 1 -->
      <div class="tp-caption sfb fadeout"
         data-x="700"
         data-y="80"
         data-speed="800"
         data-start="1600"
         data-easing="Power4.easeOut"
         data-endspeed="300"
         data-endeasing="Power1.easeIn"
         data-captionhidden="on"
         style="z-index: 3"><%= image_tag "slider/home/thinking.png" %>
      </div>


      <!-- LAYER NR. 4 -->
      <div class="tp-caption sft str"
         data-x="45" data-hoffset="0"
         data-y="157"
         data-speed="500"
         data-start="2400"
         data-easing="Back.easeInOut"
         data-endspeed="300"
         style="z-index: 6; font-size: 34px; color: #21252b; font-weight: 600; letter-spacing: 1px; text-transform: uppercase; line-height: 40px; background: rgba(255, 255, 255, 0.9); padding: 12px 16px; border-radius: 3px; box-shadow: 0 1px 1px rgba(0,0,0,0.15);">
         Did you think about DevOps?
      </div>

      <!-- LAYER NR. 5 -->
      <div class="tp-caption sfl str"
         data-x="45" data-hoffset="0"
         data-y="236"
         data-speed="500"
         data-start="2600"
         data-easing="Back.easeInOut"
         data-endspeed="300"
         style="z-index: 7; font-size: 20px; color: #fff; font-weight: 300; line-height: 28px; background: rgba(33, 37, 43, 0.8); padding: 12px 16px; border-radius: 3px;">
         Check out our consulting services!
      </div>

      </li>



      <!-- SLIDE  -->
      <li data-transition="fade" data-slotamount="1" data-masterspeed="1000" >
      <!-- MAIN IMAGE -->
      <%= image_tag "slider/home/abstract5.jpg", data: { bgfit: "cover", bgposition: "center bottom", bgrepeat: "no-repeat" } %>

      <!-- LAYERS -->
      <!-- LAYER NR. 4 -->
      <div class="tp-caption fade fadeout"
         data-x="600"
         data-y="75"
         data-speed="500"
         data-start="2100"
         data-easing="Power4.easeOut"
         data-endspeed="300"
         data-endeasing="Power1.easeIn"
         data-captionhidden="on"
         style="z-index: 5"><%= image_tag "slider/home/cloud_server.png" %>
      </div>

      <!-- LAYER NR. 5 -->
      <div class="tp-caption sft str"
         data-x="45" data-hoffset="0"
         data-y="157"
         data-speed="500"
         data-start="2400"
         data-easing="Back.easeInOut"
         data-endspeed="300"
         style="z-index: 7; font-size: 34px; color: #21252b; font-weight: 600; letter-spacing: 1px; text-transform: uppercase; line-height: 40px; background: rgba(255, 255, 255, 0.9); padding: 12px 16px; border-radius: 3px; box-shadow: 0 1px 1px rgba(0,0,0,0.15);">
         Get a managed OpenStack cloud
      </div>

      <!-- LAYER NR. 6 -->
      <div class="tp-caption sfl str"
         data-x="45" data-hoffset="0"
         data-y="230"
         data-speed="500"
         data-start="2600"
         data-easing="Back.easeInOut"
         data-endspeed="300"
         style="z-index: 8; font-size: 20px; color: #fff; font-weight: 300; line-height: 28px; background: rgba(33, 37, 43, 0.8); padding: 12px 16px; border-radius: 3px;">
         Focus on your Business, not your infrastructure
      </div>


      </li>

      </ul>
   </div>
</div>
